<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
   <input
    type="email"
    id="email"
    formControlName="email"
>

<input
    type="password"
    id="password"
    formControlName="password"
>

    <br><br>

    <button type="submit">
        Entrar
    </button>
    </form>
</body>
</html>